---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import About from "../components/About.astro";
---

<Layout
  title="Porfolio de Nahuel Fernandez Beschtedt - Desarrollador y Programador Web"
  description="Contrata a Nahuel Fernandez Beschtedt para crear tu aplicacion web. Especializado en crear aplicaciones unicas."
>
  <main id="top" class="px-4">
    <SectionContainer class="py-24 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/61454882?v=4"
        alt="LNahuelFB photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola! Soy Nahuel
        <a
          href="https://www.linkedin.com/in/nahuel-fernandez-beschtedt/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="opacity-80">
          Desarrollador Web con Experiencia Freelance.</span
        >
        <span class="opacity-80 text-cyan-400">
          De Buenos Aires, Argentina.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/nahuel-fernandez-beschtedt/"
        >
          <LinkedinIcon class="size-4 md:size-6" /> Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/lnahuelfb">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill
          href="mailto:lnahuelfernandezb@gmail.com"
          class="size-4 md:size-6"
        >
          <MailIcon />
          lnahuelfernandezb@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>

    <About/>

    <Contact />
  </main>
</Layout>
