---
import Pacman from "./icons/Pacman.astro";
---

<article class="text-center w-full mx-auto lg:w-[740px] pb-24">
  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <Pacman />Sobre Mi
  </h2>
</article>
