---
import Pacman from "./icons/Pacman.astro";
---

<article class="text-center w-full pb-24">
  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <Pacman /> Sobre Mi
  </h2>

  <div class="flex flex-col text-justify items-center text-xl text-wrap sm:flex-row">
    <span class="sm:max-w-[65%]">
      Hola, soy Nahuel, un desarrollador web freelance. Apasionado por crear
      experiencias digitales impactantes. Especializado en React, Next.js y
      MongoDB. Comprometido con la excelencia y la colaboración. ¡Espero de ser parte de tu proyecto! Actualmente me
      encuentro realizando el curso de Full stack developer con Python en el
      programa Codo a Codo 4.0. <br />
      En mi tiempo libre disfruto de jugar videojuegos, escuchar musica y leer manga.
    </span>

    <img
      class="rounded-full sm:w-[250px] sm:ml-8 sm:mt-0 justify-center mt-8"
      src="https://avatars.githubusercontent.com/u/61454882?v=4"
      alt="profile picture"
      loading="lazy"
    />
  </div>
</article>
