---
import Form from "components/Form.tsx";
import Mail from "./icons/Mail.astro";

export const prerender = true;
---

<article>
  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <Mail class="size-7" />
    Contacto
  </h2>

  <Form client:load />
</article>
