---
import Form from "components/Form.tsx";

// if (Astro.request.method === "POST") {
//   event?.preventDefault();
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get("name");
//     const email = data.get("email");
//     const company = data.get("company");
//     const subject = data.get("subject");
//     const message = data.get("message");

//     console.log(data, name, email);

//     const response = await fetch("http://localhost:3000/send-email", {
//       method: "POST",
//       body: data,
//     });

//     console.log(data);

//     const asd = await response.json();
//     console.log(asd);
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<article>
  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="size-7"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
      ></path><path d="M3 7l9 6l9 -6"></path></svg
    >
    Contacto
  </h2>

  <Form client:load />
</article>
