---
--- 

<article class="w-full mx-auto lg:w-[740px] pb-24" id="contacto">
  <form action="" class="flex flex-col">
    <label for="name" class="flex flex-col">
      Nombre:
      <input type="text" id="company" />
    </label>

    <label for="company" class="flex flex-col">
      Empresa:
      <input type="text" id="name" />
    </label>

    <label for="subject" class="flex flex-col">
      Motivo del mensaje:
      <input type="text" id="subject" />
    </label>

    <label for="email" class="flex flex-col">
      Email de contacto:
      <input type="text" id="email" />
    </label>

    <label for="message" class="flex flex-col">
      Mensaje:
      <input type="text" id="message" />
    </label>

    <button
      class="flex justify-center items-center my-10 rounded-full border border-white/10 gap-x-4 py-1 px-2 text-xs md:text-base md:py-2 md:px-4 bg-white/5 hover:scale-110 hover:bg-white/10 transition"
    >
      Enviar
    </button>
  </form>
</article>
