---

---

<article class="w-full mx-auto lg:w-[740px] pb-24" id="contacto">
  <form action="" class="flex flex-col">
    <label for="name" class="flex flex-col">
      Nombre:
      <input type="text" id="company" />
    </label>

    <label for="company" class="flex flex-col">
      Empresa:
      <input type="text" id="name" />
    </label>

    <label for="subject" class="flex flex-col">
      Motivo del mensaje:
      <input type="text" id="subject" />
    </label>

    <label for="email" class="flex flex-col">
      Email de contacto:
      <input type="text" id="email" />
    </label>

    <label for="message" class="flex flex-col">
      Mensaje:
      <input type="text" id="message" />
    </label>

    <button type="submit" class="mt-10">Enviar</button>
  </form>
</article>
