---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2023 - Actualidad",
    title: "Desarrollador web Freelance",
    description:
      "Como desarrollador web freelance tengo experiencia en tecnologías como React, Next.js y MongoDB. Especializado en la creación de aplicaciones web modernas y dinámicas. Comprometido con la calidad y la usabilidad, colaborando estrechamente con clientes para convertir sus visiones en realidad.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
