<header
  class="flex justify-center items-center py-5 w-full xl:w-[850px] mx-auto sticky top-0"
>
  <div
    class="flex sm:w-[850px] sm:justify-between bg-[#0000008c] rounded px-10 py-2"
  >
    <img src="/nahu.png" alt="" class="w-10 mr-12" />

    <nav class="flex flex-row gap-x-10 opacity-80">
      <a href="#top" class="hover:text-[#3b82f6]" id="asd">Inicio</a>
      <a href="#experiencia" class="hover:text-[#3b82f6]">Experiencia</a>
      <a href="#proyectos" class="hover:text-[#3b82f6]">Proyectos</a>
      <a href="#sobre-mi" class="hover:text-[#3b82f6]">Sobre mi</a>
      <a href="#contacto" class="hover:text-[#3b82f6]">Contacto</a>
    </nav>
  </div>
</header>
